<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
            {{> header}}
			<div id="contents">
			{{#each indexData}}
				<div id="adbox">
					<img src="images/{{this.topPicture}}" alt="Img">
					<h1>{{this.mainHeader}}</h1>
					<p>{{this.mainHeaderText_1}}
						<a href='http://www.freewebsitetemplates.com/'>Free Website Templates</a>
						{{this.mainHeaderText_2}}
						<a href='http://www.freewebsitetemplates.com/forums/'>Forum</a>.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>{{this.subHeader_1}}</h3>
								<ul>
									<li>
										<h4><a href="news.html">{{this.newsName_1}}</a></h4>
										<span>{{this.newsDate_1}}</span>
										<p>{{this.newsDescription_1}}</p>
									</li>
									<li>
										<h4><a href="news.html">{{this.newsName_2}}</a></h4>
										<span>{{this.newsDate_2}}</span>
										<p>{{this.newsDescription_2}}</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>{{this.subHeader_2}}</h3>
								<p>{{this.subHeader_2_Text}} <span>- <a href="/index">Juan De La Cruz</a></span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="rooms.html"><img src="images/{{this.sidebar_rooms}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="dives.html"><img src="images/{{this.sidebar_diveSites}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="foods.html"><img src="images/{{this.sidebar_food}}" alt="Img"></a>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
        {{> footer}}
	</div>
</body>
</html>